<h1>Edit Question</h1>

<%# you can use full path `/questions/form` %>
<%#= render "/questions/form" %>

<%# if the partial is in the same folder, you can simply use: %>
<%= render "form" %>

<!--
<%= @question.errors.full_messages.join(", ") %>

<%# If you give the 'form_for' helper an ActiveRecord object that is persisted
    then the generated form will have an action that submits to 'question_path(@question)' where @question is the ActiveRecord object that you passed to the form. The action will be PATCH (using the _method workaround) %>

<%= form_for @question do |f| %>

  <div>
    <%= f.label :title %>
    <%# by using the f.text.field :title, if @question has a value for the attribute 'title' it will populate the field with that value. This is usually the case when redisplaying the form after an error occurs %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit %>

<% end %> -->

<%# you can use full path '/questions/form' %>
<%# render "questions" %>
